@import "tailwindcss";

/* ============================================
   ESTILOS GLOBALES
   ============================================ */

body {
  background-color: #f2f6f9;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
